
<div class="container">
    <div class="col-xs-12">
        <article class="ad-single">
            <div class="ad-title" >{{result.title}}</div>
            <div class="ad-description">{{result.description}}</div>
            <div class="ad-contact-info">
                <div class="ad-contact-phone">{{result.phone}}</div>
                <div class="ad-contact-email">{{result.email}}</div>
            </div>
        </article>
        <div id="ad-single-bottom-container">
            <!--<a href="#" class="fb-share" >Share</a>-->
            <div class="fb-share-button" data-href="{{result.url}}/" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkiwi-classifieds.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>
            <a href="#" class="nav-back" onclick="window.history.back()">Go Back</a>
        </div>
    </div>
</div>