<div class="container">
    <div class="col-xs-12">
        <article class="ad-single">
            <div class="ad-title" >{{result.title}}</div>
            {{#if result.price}}
                <div class="offer-price">Price: ${{result.price}}</div>
            {{/if}}
            <div class="ad-description">{{result.description}}</div>
            <div class="ad-contact-info">
                {{#if result.phone}}
                    <div class="ad-contact-phone">{{result.phone}}</div>
                {{/if}}
                {{#if result.email}}
                    <div class="ad-contact-email">{{result.email}}</div>
                {{/if}}
            </div>
        </article>

        <div id="comments">
            <h2 id="comments-title">Comments</h2>
            {{#result.comments}}
                <div class="single-comment">
                    <div class="comment-author"><strong>Author:</strong> {{author}}</div>
                    <div class="comment-text">{{text}}</div>
                </div>
            {{/result.comments}}
            <div id="add-new-comment">
                <button id="add-new-comment-btn" type="submit">Add new comment</button>
            </div>
        </div>

        <div id="comment-dialog" title="Your Comment:">
            <form>
				<textarea id="comment-text" rows="10" cols="60" placeholder="Type your comment here ..."></textarea><br/>
                <input type="submit" id="submit-comment" value="Submit" />
            </form>
        </div>

        <div id="ad-single-bottom-container">
            <a id="share-btn" title="Share on Facebook"
            href="https://www.facebook.com/sharer.php?caption={{result.title}}&description={{result.description}}&u=https%3A%2F%2Fkiwi-classifieds.herokuapp.com%2F%23%2Fclassifieds%2F{{result.id}}&picture=https://kiwi-classifieds.herokuapp.com/images/logo-kiwi-square.png"
            target="_blank">
                <img width="50" height="22" src="../images/fb.png" alt="Facebook" />
            </a>
            <a href="#" class="nav-back" onclick="window.history.back()">Go Back</a>
        </div>
    </div>
</div>